




@{
    ViewData["Title"] = "";
  
    
}

   

    <section class="text-amber-200 body-font ">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">

        <h1 class="m-auto">Authentication rights error</h1>
    </div>
</section>
   


